[submodule "H7A3_NUCLEO/Drivers/stm32_st7796"]
	path = H7A3_NUCLEO/Drivers/stm32_st7796
	url = https://github.com/CullenSharp/stm32_st7796.git
[submodule "H7A3_NUCLEO/Drivers/stm32_xpt2046"]
	path = H7A3_NUCLEO/Drivers/stm32_xpt2046
	url = https://github.com/CullenSharp/stm32_xpt2046.git
