[submodule "/H7A3_NUCLEO/Drivers/st7796"]
	path = /H7A3_NUCLEO/Drivers/st7796
	url = git@github.com:CullenSharp/stm32_7796.git
[submodule "/H7A3_NUCLEO/Drivers/xpt2046"]
	path = /H7A3_NUCLEO/Drivers/xpt2046
	url = git@github.com:CullenSharp/stm32_xpt2046.git
